<h3 class="text-center p-3 mx-auto mt-n2 border">マイページ</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tbody>
          <tr>
            <td><label>ユーザー名</label></td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td><label>メールアドレス</label></td>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center">
        <%= link_to "user edit", edit_user_path(@user), class: 'btn btn-lg btn-outline-dark border' %>
      </div>
    </div>

    <div class="row">
      <div class="col m-3">
        <h5>自分の投稿一覧</h5>
        <%= render 'books/index', books: @books %>
      </div>

      <div class="col m-3">
        <h5>いいねした投稿一覧</h5>
        <%= render 'books/index', books: @favo_books %>
      </div>
    </div>
  </div>
</div>