<!--評価の投稿フォーム-->
<div class="d-flex justify-content-start flex-wrap ml-5">
  <div class="mr-3">

    <label><%= t('ratings.cool') %></label>
    <span class="rating rate-cool"></span>
<!--星の設定-->
      <script>
        $('.rate-cool').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[cool]'
        });
      </script>

  </div>
  <div class="mr-3">
    <label><%= t('ratings.cute') %></label>
    <span class="rating rate-cute"></span>
      <script>
        $('.rate-cute').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[cute]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label><%= t('ratings.hot') %></label>
    <span class="rating rate-hot"></span>
      <script>
        $('.rate-hot').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[hot]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label><%= t('ratings.relax') %></label>
    <span class="rating rate-relax"></span>
      <script>
        $('.rate-relax').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[relax]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label><%= t('ratings.emotion') %></label>
    <span class="rating rate-emotion"></span>
      <script>
        $('.rate-emotion').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[emotion]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label><%= t('ratings.funny') %></label>
    <span class="rating rate-funny"></span>
      <script>
        $('.rate-funny').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[funny]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label><%= t('ratings.complex') %></label>
    <span class="rating rate-complex"></span>
      <script>
        $('.rate-complex').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[complex]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label><%= t('ratings.brisk') %></label>
    <span class="rating rate-brisk"></span>
      <script>
        $('.rate-brisk').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[brisk]'
        });
      </script>
  </div>
</div>
