<div class="d-flex justify-content-start flex-wrap ml-3 mr-1">
  <div class="mr-3">
    <label>かっこいい</label>
    <span class="rating rate-cool"></span>
      <script>
        $('.rate-cool').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[cool]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label>かわいい</label>
    <span class="rating rate-cute"></span>
      <script>
        $('.rate-cute').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[cute]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label>アツい</label>
    <span class="rating rate-hot"></span>
      <script>
        $('.rate-hot').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[hot]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label>癒される</label>
    <span class="rating rate-relax"></span>
      <script>
        $('.rate-relax').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[relax]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label>泣ける</label>
    <span class="rating rate-emotion"></span>
      <script>
        $('.rate-emotion').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[emotion]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label>笑える</label>
    <span class="rating rate-funny"></span>
      <script>
        $('.rate-funny').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[funny]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label>頭を使う</label>
    <span class="rating rate-complex"></span>
      <script>
        $('.rate-complex').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[complex]'
        });
      </script>
  </div>
  <div class="mr-3">
    <label>爽快</label>
    <span class="rating rate-brisk"></span>
      <script>
        $('.rate-brisk').raty({
          size      :40,
          starOff   :'<%= asset_path('star-off.png') %>',
          starOn    :'<%= asset_path('star-on.png') %>',
          scoreName :'rating[brisk]'
        });
      </script>
  </div>
</div>