<table class="table">
  <thead>
    <tr>
      <th>title</th>
      <th>author</th>
      <th>genre</th>
    </tr>
  </thead>
  <tbody>
  <% books.each do |book| %>
    <tr>
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.name %></td>
      <td>
        <% book.genres.each do |b| %>
          <%= link_to b.name, genre_path(b), class: 'btn btn-sm btn-outline-primary' %>
        <% end %>
      </td>
      <td class=<%= "favorite-" + book.id.to_s %> >
        <% if user_signed_in? %>
          <%= render "favorites/form", book: book %>
        <% else %>
          <%= book.favorites.count %>いいね
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


