<div class="container-fuild">
  <h3 class="p-3 mx-auto mt-n2 border">新規投稿</h3>

  <%= form_with model: @book, method: :post, local: true do |f| %>
  <div class="row">
    <div class="col-sm-6 px-5 mx-auto">
      <h5 class="mb-4">基本情報</h6>
      <div class="form-group">
        <%= f.label :title, class: 'mx-3' %>
        <%= f.text_field :title, class: 'border' %>
      </div>

      <div class="form-group">
        <%= f.label :name, class: "ml-3 mr-2" %>
        <%= f.text_field :name, class: 'border' %>
      </div>
    </div>
    <div class="col-sm-6 px-5 mx-auto">
      <h5>ジャンル</h5>
      <div class="form-check mx-3">
        <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |b| %>
          <%= b.label do %>
            <span class="btn btn-outline-info">
             <%= b.text %>
             <%= b.check_box %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 p-5 mx-auto">
      <h5>評価</h5>
      <%= render 'ratings/form', book: @book %>

      <%= f.hidden_field :cool, :value => 'score' %>
      <%= f.hidden_field :cute, :value => 'score' %>
      <%= f.hidden_field :hot, :value => 'score' %>
      <%= f.hidden_field :relax, :value => 'score' %>
      <%= f.hidden_field :emotion, :value => 'score' %>
      <%= f.hidden_field :funny, :value => 'score' %>
      <%= f.hidden_field :complex, :value => 'score' %>
      <%= f.hidden_field :brisk, :value => 'score' %>
    </div>
  </div>
    <div class="d-flex justify-content-center">
      <%= f.submit '投稿', class: 'btn btn-outline-dark btn-block border' %>
    </div>
  <% end %>
</div>




