<div class="container">
  <h3>show</h3>
  <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>title</td>
          <td><%= @book.title %></td>
        </tr>
        <tr>
          <td>author</td>
          <td><%= @book.name %></td>
        </tr>
        <tr>
          <td class=<%= "favorite-" + @book.id.to_s %> >
            <%= render 'favorites/form', book: @book %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <%= render 'ratings/chart', rating: @rating %>
  </div>
</div>

