<!--作品詳細ページ-->
<h3 class="text-center p-3 mx-auto mt-n2 border"><%= t('.show_book') %></h3>
<%= render 'layouts/notification' %>
<div class="container mb-3">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <th><%= Book.human_attribute_name(:title) %></th>
            <td><%= @book.title %></td>
          </tr>
          <tr>
            <th><%= Book.human_attribute_name(:name) %></th>
            <td><%= @book.name %></td>
          </tr>
          <tr>
            <th><%= t('defaults.genres') %></th>
            <td>
              <% @book.genres.each do |b| %>
                <%= b.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th><%= t('defaults.favorites') %></th>
            <td class="favorite-<%= @book.id %>" >
              <%= render 'favorites/form', book: @book %>
            </td>
          </tr>
        </tbody>
      </table>
      <% if user_signed_in? %>
        <%= link_to t('ratings.new.title'), new_book_rating_path(@rating), class: 'btn btn-block btn-outline-dark mt-5 border' %>
      <% end %>
<!--adminユーザーの場合に表示-->
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to book_path(@book), method: :delete, data: { confirm: t('defaults.are_you_sure') } do %>
          <span class="btn btn-block btn-outline-danger"><%= t('defaults.delete') %></span>
        <% end %>
      <% end %>
    </div>
<!--レーダーチャート部分-->
    <div class="col-md-6 p-3">
      <% if user_signed_in? %>
        <%= render 'ratings/chart', rating: @rating, book: @book %>
      <% else %>
        <%= render 'ratings/altchart', rating: @rating, book: @book %>
      <% end %>
    </div>
  </div>
</div>

