<header>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg">
        <div class="col-xs-10">
          <a href="/" class="navbar-brand p-3"><h1>MANGAER</h1></a>
        </div>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col-xs-1 offset-xs-1 flex-column" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn mx-2 my-1' %>
            <% else %>
              <%= link_to 'ユーザー登録', new_user_registration_path, class: 'btn mx-2 my-1' %>
              <%= link_to 'ログイン', new_user_session_path, class: 'btn mx-2 my-1' %>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row d-flex justfy-content-around">
      <nav>
        <div class="d-flex flex-md-start mx-auto">
          <ul>
            <% if user_signed_in? %>
              <%= link_to '作品一覧', books_path, class: 'btn mx-2 my-1' %>
              <%= link_to 'マイページ', mypage_path(current_user), class: 'btn mx-2 my-1' %>
              <%= link_to '新規投稿', new_book_path, class: 'btn mx-2 my-1' %>
            <% else %>
               <%= link_to '作品一覧', books_path, class: 'btn mx-2 my-1' %>
            <% end %>
          </ul>
        </div>

      </nav>
    </div>
  </div>

</header>