<!DOCTYPE html>
<html>
  <head>
    <title>PfManga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <%= render "layouts/header" %>
    </header>
    <main class="mb-3">
      <%= yield %>
    </main>
    <footer class="border">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
