<!DOCTYPE html>
<html>
  <head>
    <title>PfManga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <%= render "layouts/header" %>
    </header>
    <main class="mb-3">
      <%= yield %>

      <div id="back_top" class="border">
      <a href="#" class="btn btn-block btn-outline-dark">
        <p class="align-self-center"><%= t('defaults.back_top') %></p>
      </a>
    </div>
    <script>
      $(function() {
        $('#back_top a').on('click',function(event){
          $('body, html').animate({
            scrollTop:0
          }, 800);
          event.preventDefault();
        });
      });
    </script>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
